@font-face{
  font-family: Yuruka;
  src:url('./assets/fot-yuruka-std.ttf');
}
html {
  box-sizing: border-box;
  
}
*,
*:before,
*:after {
  box-sizing: inherit;
}

body {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

html,
body {
  height: 100%;
  margin: 0;
  line-height: 1.5;
  color: #121212;
}
p{
  text-decoration: none;
}
#error-page {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
}


.poppins{
font-family: 'Poppins';
}

/*------------------------------------------*/

.App-logo {
  height: 5em;
  pointer-events: none;
  display:inline-block;
}



.App-header {
  margin:auto;
  height: 5em;
  display: flex;
  justify-content: center;
  align-items: center;
  /* font-size: calc(10px + 2vmin); */
  color: black;
  padding:0 5em;
  /* box-shadow: 5px 2px 26px 1px #000000; */
  width:100%;
  flex-wrap: nowrap;
 
}
.App-header > h1{
  font-size: clamp(10px, calc(10% / 2rem + 10px), 30px);
  font-family: Yuruka;
  color:#ff5927;
}


*{
  box-sizing: border-box;
}


/* Gallery layout */
:root {
  --gallery-gap: 3em;
  --gallery-columns:4;
  background-color: white;
  text-decoration: none;
}

#search-container{
  flex: auto;
  display:flex;
}



details{
  position:relative;
  
  margin: 0 12px;
  
}

details > ul{
  position:absolute;
  right:100%;
  list-style: none;
  width:max-content;
  background-color:#fff;
  border-radius:5px;
  box-shadow: rgba(0, 0, 0, 0.1) 1px 1px 20px 0px;
  padding-left: 0;
  z-index:999;
}

details ul li{
  padding:5px 15px;
  cursor:pointer;
}


details ul li:hover{
  background-color: #f0f2fb;
}
details summary{
  list-style: none;
}
#search-input{
  background-color: rgb(241, 241, 241);
  border-radius:30px;
  padding:12px 24px;
  line-height: 30px;
 font-family: 'Poppins';
 cursor: pointer;
 border:none;
 width:clamp(10rem, 80%, 80rem);
 margin:0 0.1em;
}

#search-input:hover{
  background-color: rgb(189, 189, 189);
}
#body-container{
  
  padding: 1em;
  width:100%;
  margin-right: auto;
  margin-left: auto;
  /* background-color: rgb(29, 28, 28); */
  height:auto;
}

#grid{
  padding: 1em 4em;
  display:column;
  columns:var(--gallery-columns);
  gap:var(--gallery-gap);
  margin: 0;
  width: 100%;
 background-color: #ffffff;
 margin-bottom:20vw;
}

#gif-grid{
  padding: 1em 4em;
  display:column;
  columns:3;
  gap:var(--gallery-gap);
  margin: 0;
  width: 100%;
 background-color: #ffffff;
 margin-bottom:20vw;
}

#grid > *{
  margin-bottom: var(--gallery-gap);;
  break-inside: avoid;
}

#gif-grid > *{
  margin-bottom: var(--gallery-gap);;
  break-inside: avoid;
}
.col{
  overflow: hidden;
  border-radius:16px;

}

.cat{
  object-fit:cover;
  border-radius:16px;
  max-width: 100%;
  vertical-align: middle;
  height: auto;
  
}
.cat:hover{
  filter:brightness(50%);
}

.cat-gif{
 
}

.cat-text{
  text-decoration: none;
  font-family: 'Poppins';
 display:flex;
 align-items: center;
 padding:3px;
 justify-content: flex-start;
}

#login-button{
  width:100%;
  margin:0;
}
.button-19 {
  appearance: button;
  background-color: #e0461f;
  border: solid transparent;
  border-radius: 16px;
  border-width: 0 0 4px;
  box-sizing: border-box;
  color: #FFFFFF;
  cursor: pointer;
  display: inline-block;

  margin-left: 1em;
  outline: none;
  overflow: visible;
  padding: 10px 13px;
  text-align: center;
  
  touch-action: manipulation;
  transform: translateZ(0);
  transition: filter .2s;
  user-select: none;
  -webkit-user-select: none;
  vertical-align: middle;
  white-space: nowrap;
  width:4em;
  height:4em;
}

.button-19:after {
  background-clip: padding-box;
  background-color: #ff5927;
  border: solid transparent;
  border-radius: 16px;
  border-width: 0 0 4px;
  bottom: -4px;
  content: "";
  left: 0;
  position: absolute;
  right: 0;
  top: 0;
  z-index: -1;
}

.button-19:main,
.button-19:focus {
  user-select: auto;
}

.button-19:hover:not(:disabled) {
  filter: brightness(1.1);
  -webkit-filter: brightness(1.1);
}

.button-19:active {
  border-width: 4px 0 0;
  background: none;
}
#preview-container{
  position: relative;
  margin:auto;
  /* background-color: #27ff5d; */
  display: flex;
  justify-content: center;
  flex-direction: row;
}

#preview-container:has(>div){
margin-bottom: 100px;
}

@keyframes progress-anim{
  from{
    transform:scaleX(0);
  }
  to{
    transform:scaleX(1);
  }
}
@keyframes fade-in{
  from{
    opacity: 0;
    transform: translateY(-5%);
  }
  to{
    opacity: 1;
    transform: translateY(0);
  }
}
@keyframes fade-in-out{
  from{
    opacity: 0;
    transform: translate(-50%,-20%);
  }
  50%{
    opacity: 1;
    transform: translate(-50%,-50%);
  }
  to{
    opacity: 0;
    transform: translate(-50%,-50%);
  }
}
.alert-pop{
  position:absolute;

  text-align: center;
  /* width:15em; */
  color: #fff;
  top: 0%;
  border-radius:10px;
  padding: 15px;
}

#fav-alert{
  left:50%;
  background-color: #121212;
  width: 14em;
  box-shadow: rgba(0, 0, 0, 0.5) 5px 4px 8px 1px;
  transform: translate(-50%,-50%);
  animation: 2.5s fade-in-out   cubic-bezier(0.68,-0.55,0.27,1.55);
  /*ease in    cubic-bezier(0.6,-0.28,0.74,0.05);*/
  /*easeinout   cubic-bezier(0.68,-0.55,0.27,1.55);    */
  /* animation-timing-function: cubic-bezier( 0.79, 0.33, 0.14, 0.53 ); */
}


#preview-cat{
  background-color: white;
  width: 55em;
  height:fit-content;
  border-radius:32px;
  display:flex;
  box-shadow: rgba(0, 0, 0, 0.1) 1px 1px 20px 0px;
  /* box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px; */
  
}

#preview-left{
 flex-basis: 50%;
}


#preview-left > img{
  border-radius:32px 0 0 32px;
  height:100%;
 }
 .preview-cat-img{
  object-fit:cover;
  max-width: 100%;
  vertical-align: middle;
  height: auto;
}

.preview-right-anim{
  animation: 1s fade-in   cubic-bezier(0.68,-0.55,0.27,1.55);
}
.preview-right{
  flex-basis: 50%;
  padding: 0em 2em;
  position:relative;
 }
 .origin{
  display: flex;
  align-items: center;
 }
.fi{
  margin-left:5px;
  font-size: 2em;
  border-radius:3px;
  
}
 #preview-right-header {
  display:flex;
  justify-content: space-between;
  align-items:center;
  padding:10px 0;
 }

 #preview-right-header >h2{
  font-family: 'Poppins';
  font-weight: 700;
  margin:0;
 }

 .icons{
  font-size:1.5em;
  cursor:pointer;
  display:flex;
  align-items: center;
 }
 .star-icon{
  color:#ff5927;
 }
 .menu-icon{
  margin-left: 15px;
 color:#ff5927;
}

.stat-container{
  padding:5px;
}


.stat-bar{
  background: #dadada;
  padding:6px;
  border-radius:25px;
  box-sizing: border-box;
  margin-bottom: 5px;
}
.stat-bar >span {
  background-color: #ff5927;
  padding:3px;
  border-radius:25px;
  display: block;
  animation: 0.8s progress-anim   cubic-bezier(0.6,-0.28,0.74,0.05);
}
 
#last-elem{
  background-color: #ff5927;
  width:100%;
  height:100em;
  margin-top:30em;
  padding:10px;
  margin-bottom:10em;
}
@media only screen and (width >= 1024px) {

  #grid{
    --gallery-gap: 2em;
  --gallery-columns:5;
  }
  #gif-grid{
    columns:3;
  }
  #profile-icon{
    font-size: 30px;
  }
}

/* Responsive layout - makes a two column-layout instead of four columns */
@media screen and (max-width: 1024px) {

  #grid{
    --gallery-gap: 1em;
  --gallery-columns:3;
  }
  #gif-grid{
    columns:2;
  }
  #search-container{
    font-size:12px;
    
  }
  /* .button-19{
    font-size: 10px;
    margin-left: 3px;
    
  }
  #search-input{
    line-height: 10px;
  } */
}
/* Responsive layout - makes the two columns stack on top of each other instead of next to each other */
@media screen   and (max-width: 800px){
  #preview-cat{
    flex-direction: column;
  }

  #preview-left > img{
   border-radius:32px 32px 0 0 ;
  }

}
@media screen and (max-width: 600px) {

  #grid{
    --gallery-gap: 0.8em;
  --gallery-columns:2;
  
    padding: 1em;
  }
  #gif-grid{
    columns:1;
  }
 .button-19{
  margin-left: 1vw;
 }
  /* #search-input{
    width:70%;
  } */
  .App-header{
    padding:0 2em;
  }
  .App-header > h1{
    font-size:18px;
  }
  .App-logo {
    height: 8vw;
  }
  
}